<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Trang cá nhân</title>
	<link rel="icon" href="../images/fav.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="../css/main.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/color.css">
	<link rel="stylesheet" href="../css/responsive.css">

</head>

<body>
	<!--<div class="se-pre-con"></div>-->
	<div class="theme-layout">

		<div class="responsive-header">
			<div class="mh-head first Sticky">
				<span class="mh-btns-left">
					<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
				</span>
				<span class="mh-text">
					<a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
				</span>
				<span class="mh-btns-right">
					<a class="fa fa-sliders" href="#shoppingbag"></a>
				</span>
			</div>
			<div class="mh-head second">
				<form class="mh-form">
					<input placeholder="search" />
					<a href="#/" class="fa fa-search"></a>
				</form>
			</div>
		</div><!-- responsive header -->

		<div class="topbar stick">
			<div class="logo">
				<a title="" href="newsfeed.html"><img src="images/logo.png" alt=""></a>
			</div>

			<div class="top-area">
				
				<ul class="setting-area">
					<li>
						<a href="#" title="Home" data-ripple=""><i class="ti-search"></i></a>
						<div class="searched">
							<form method="post" class="form-search">
								<input type="text" placeholder="Search Friend">
								<button data-ripple><i class="ti-search"></i></button>
							</form>
						</div>
					</li>
				</ul>
				<span class="ti-menu main-menu" data-ripple=""></span>
			</div>
		</div><!-- topbar -->

		<section>
			<div class="gap gray-bg">
				<div class="feature-photo">
					<figure><img src="../images/resources/timeline-4.jpg" alt=""></figure>
				</div>
				<div class="avatar" style="display: flex; margin-bottom: 20px;">
					<img src="../images/resources/admin3.jpg" alt="" x="0" y="0" height="100%"
						preserveAspectRatio="xMidYMid slice" width="100%"
						style="height: 200px; width: 200px; position: relative; margin: 10px 10px 0 20%; border-radius:200px; ">
					<div class="name" style="margin: 7% 0 0 5%;">
						<h3 style="color: #000;"><b>Nguyệt Huế</b></h3>
					</div>
					<div class="edit-btn" style="margin: 7% 0 0 20%;">
						<button class="add-butn">Đổi ảnh đại diện</button>
						<button class="add-butn">Hồ sơ</button>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="row" id="page-contents">
								<div class="col-lg-3">
									<aside class="sidebar static">
										<div class="widget">
											<h4 class="widget-title">Lối tắt</h4>
											<ul class="naves">
										
												<li>
													<i class="fa-solid fa-house" style="color: #936fff;"></i>
													<a href="fav-page.html" title="">Trang cá nhân</a>
												</li>
												<li>
													<i class="fa-solid fa-wand-magic-sparkles" style="color: #936fff;"></i>
													<a href="newsfeed.html" title="">Bảng tin</a>
												</li>
												<li>
													<i class="fa-solid fa-user-group" style="color: #936fff;"></i>
													<a href="timeline-friends.html" title="">Bạn bè</a>
												</li>
												<li>
													<i class="fa-solid fa-comment" style="color: #936fff;"></i>
													<a href="messages.html" title="">Tin nhắn</a>
												</li>
												<li>
													<i class="fa-solid fa-bell" style="color: #936fff;"></i>
													<a href="notifications.html" title="">Thông báo</a>
												</li>
												<li>
													<i class="fa-solid fa-circle-notch" style="color: #936fff;"></i>
													<a href="landing.html" title="">Đăng xuất</a>
												</li>
											</ul>
										</div><!-- Shortcuts -->
										
									</aside>
								</div><!-- sidebar -->
								<div class="col-lg-6">
									<div class="central-meta">
										<div class="new-postbox">
											<figure>
												<img src="../images/resources/admin3.jpg" alt="">
											</figure>
											<!-- post -->
											<div class="newpst-input">
												<form method="post">
													<textarea rows="3" placeholder="write something"></textarea>
													<div class="attachments">
														<ul>
															<li>
																<i class="fa fa-music"></i>
																<label class="fileContainer">
																	<input type="file">
																</label>
															</li>
															<li>
																<i class="fa fa-image"></i>
																<label class="fileContainer">
																	<input type="file">
																</label>
															</li>
															<li>
																<i class="fa fa-video-camera"></i>
																<label class="fileContainer">
																	<input type="file">
																</label>
															</li>
															<li>
																<i class="fa fa-camera"></i>
																<label class="fileContainer">
																	<input type="file">
																</label>
															</li>
															<li>
																<button type="submit">Publish</button>
															</li>
														</ul>
													</div>
												</form>
											</div>
											<!-- post-end -->
										</div>
									</div><!-- add post new box -->
									<div class="loadMore">
										<div class="central-meta item">
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="../images/resources/friend-avatar11.jpg" alt="">
													</figure>
													<div class="friend-name">
														<ins><a href="time-line.html" title="">Natti Natasha</a></ins>
														<span>published: june,2 2018 19:PM</span>
													</div>
													<div class="post-meta">
														<img src="images/resources/user-post6.jpg" alt="">
														<div class="we-video-info">
															<ul>
																<li>
																	<span class="views" data-toggle="tooltip"
																		title="views">
																		<i class="fa fa-eye"></i>
																		<ins>1.2k</ins>
																	</span>
																</li>
																<li>
																	<span class="comment" data-toggle="tooltip"
																		title="Comments">
																		<i class="fa fa-comments-o"></i>
																		<ins>52</ins>
																	</span>
																</li>
																<li>
																	<span class="like" data-toggle="tooltip"
																		title="like">
																		<i class="ti-heart"></i>
																		<ins>2.2k</ins>
																	</span>
																</li>
																<li>
																	<span class="dislike" data-toggle="tooltip"
																		title="dislike">
																		<i class="ti-heart-broken"></i>
																		<ins>200</ins>
																	</span>
																</li>
																<li class="social-media">
																	<div class="menu">
																		<div class="btn trigger"><i
																				class="fa fa-share-alt"></i></div>
																		<div class="rotater">
																			<div class="btn btn-icon"><a href="#"
																					title=""><i
																						class="fa fa-html5"></i></a>
																			</div>
																		</div>
																		<div class="rotater">
																			<div class="btn btn-icon"><a href="#"
																					title=""><i
																						class="fa fa-facebook"></i></a>
																			</div>
																		</div>
																		<div class="rotater">
																			<div class="btn btn-icon"><a href="#"
																					title=""><i
																						class="fa fa-google-plus"></i></a>
																			</div>
																		</div>
																		<div class="rotater">
																			<div class="btn btn-icon"><a href="#"
																					title=""><i
																						class="fa fa-twitter"></i></a>
																			</div>
																		</div>
																		<div class="rotater">
																			<div class="btn btn-icon"><a href="#"
																					title=""><i
																						class="fa fa-css3"></i></a>
																			</div>
																		</div>
																		<div class="rotater">
																			<div class="btn btn-icon"><a href="#"
																					title=""><i
																						class="fa fa-instagram"></i></a>
																			</div>
																		</div>
																		<div class="rotater">
																			<div class="btn btn-icon"><a href="#"
																					title=""><i
																						class="fa fa-dribbble"></i></a>
																			</div>
																		</div>
																		<div class="rotater">
																			<div class="btn btn-icon"><a href="#"
																					title=""><i
																						class="fa fa-pinterest"></i></a>
																			</div>
																		</div>

																	</div>
																</li>
															</ul>
														</div>
														<div class="description">
															<span>beautiful lamp on discount 50%</span>
															<p>
																Amazon <a href="#" title="">#amazonee</a> the most
																beatuiful lamp available in america and the saudia
																arabia, you can purchase for the home and shop for
																increase the room beauty
															</p>
														</div>
													</div>
												</div>
											
											</div>
										</div>
										
									
										
									</div>
								</div><!-- centerl meta -->
								<div class="col-lg-3">
									<aside class="sidebar static">
										<div class="widget friend-list stick-widget">
											<h4 class="widget-title">Friends</h4>
											<div id="searchDir"></div>
											<ul id="people-list" class="friendz-list">
												<li>
													<figure>
														<img src="images/resources/friend-avatar.jpg" alt="">
														<span class="status f-online"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">bucky barnes</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="1e6977706a7b6c6d71727a7b6c5e79737f7772307d7173">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>
													<figure>
														<img src="images/resources/friend-avatar2.jpg" alt="">
														<span class="status f-away"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">Sarah Loren</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="debcbfacb0bbad9eb9b3bfb7b2f0bdb1b3">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>
													<figure>
														<img src="images/resources/friend-avatar3.jpg" alt="">
														<span class="status f-off"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">jason borne</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="0e646f7d61606c4e69636f6762206d6163">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>
													<figure>
														<img src="images/resources/friend-avatar4.jpg" alt="">
														<span class="status f-off"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">Cameron diaz</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="513b30223e3f3311363c30383d7f323e3c">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>

													<figure>
														<img src="images/resources/friend-avatar5.jpg" alt="">
														<span class="status f-online"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">daniel warber</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="315b50425e5f5371565c50585d1f525e5c">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>

													<figure>
														<img src="images/resources/friend-avatar6.jpg" alt="">
														<span class="status f-away"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">andrew</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="f69c9785999894b6919b979f9ad895999b">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>

													<figure>
														<img src="images/resources/friend-avatar7.jpg" alt="">
														<span class="status f-off"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">amy watson</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="bad0dbc9d5d4d8faddd7dbd3d694d9d5d7">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>

													<figure>
														<img src="images/resources/friend-avatar5.jpg" alt="">
														<span class="status f-online"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">daniel warber</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="076d667468696547606a666e6b2964686a">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>

													<figure>
														<img src="images/resources/friend-avatar2.jpg" alt="">
														<span class="status f-away"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">Sarah Loren</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="b1d3d0c3dfd4c2f1d6dcd0d8dd9fd2dedc">[email&#160;protected]</a></i>
													</div>
												</li>
											</ul>
											<div class="chat-box">
												<div class="chat-head">
													<span class="status f-online"></span>
													<h6>Bucky Barnes</h6>
													<div class="more">
														<span><i class="ti-more-alt"></i></span>
														<span class="close-mesage"><i class="ti-close"></i></span>
													</div>
												</div>
												<div class="chat-list">
													<ul>
														<li class="me">
															<div class="chat-thumb"><img
																	src="images/resources/chatlist1.jpg" alt=""></div>
															<div class="notification-event">
																<span class="chat-message-item">
																	Hi James! Please remember to buy the food for
																	tomorrow! I’m gonna be handling the gifts and Jake’s
																	gonna get the drinks
																</span>
																<span class="notification-date"><time
																		datetime="2004-07-24T18:18"
																		class="entry-date updated">Yesterday at
																		8:10pm</time></span>
															</div>
														</li>
														<li class="you">
															<div class="chat-thumb"><img
																	src="images/resources/chatlist2.jpg" alt=""></div>
															<div class="notification-event">
																<span class="chat-message-item">
																	Hi James! Please remember to buy the food for
																	tomorrow! I’m gonna be handling the gifts and Jake’s
																	gonna get the drinks
																</span>
																<span class="notification-date"><time
																		datetime="2004-07-24T18:18"
																		class="entry-date updated">Yesterday at
																		8:10pm</time></span>
															</div>
														</li>
														<li class="me">
															<div class="chat-thumb"><img
																	src="images/resources/chatlist1.jpg" alt=""></div>
															<div class="notification-event">
																<span class="chat-message-item">
																	Hi James! Please remember to buy the food for
																	tomorrow! I’m gonna be handling the gifts and Jake’s
																	gonna get the drinks
																</span>
																<span class="notification-date"><time
																		datetime="2004-07-24T18:18"
																		class="entry-date updated">Yesterday at
																		8:10pm</time></span>
															</div>
														</li>
													</ul>
													<form class="text-box">
														<textarea placeholder="Post enter to post..."></textarea>
														<div class="add-smiles">
															<span title="add icon" class="em em-expressionless"></span>
														</div>
														<div class="smiles-bunch">
															<i class="em em---1"></i>
															<i class="em em-smiley"></i>
															<i class="em em-anguished"></i>
															<i class="em em-laughing"></i>
															<i class="em em-angry"></i>
															<i class="em em-astonished"></i>
															<i class="em em-blush"></i>
															<i class="em em-disappointed"></i>
															<i class="em em-worried"></i>
															<i class="em em-kissing_heart"></i>
															<i class="em em-rage"></i>
															<i class="em em-stuck_out_tongue"></i>
														</div>
														<button type="submit"></button>
													</form>
												</div>
											</div>
										</div><!-- friends list sidebar -->
									</aside>
								</div><!-- sidebar -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<script data-cfasync="false"
			src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
		<script src="js/main.min.js"></script>
		<script src="js/script.js"></script>

</body>


</html>