<!DOCTYPE html>
<html lang="en">


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Trang tìm kiếm bạn</title>
	<link rel="icon" href="../images/fav.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="../css/main.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/color.css">
	<link rel="stylesheet" href="../css/responsive.css">

</head>

<body>
	<!--<div class="se-pre-con"></div>-->
	<div class="theme-layout">

		<div class="responsive-header">
			<div class="mh-head first Sticky">
				<span class="mh-btns-left">
					<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
				</span>
				<span class="mh-text">
					<a href="newsfeed.html" title=""><img src="../images/logo2.png" alt=""></a>
				</span>
				<span class="mh-btns-right">
					<a class="fa fa-sliders" href="#shoppingbag"></a>
				</span>
			</div>
		</div><!-- responsive header -->
		<section>
			<div class="gap gray-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="row" id="page-contents">
								<div class="col-lg-3">
									<aside class="sidebar static">
										<div class="widget">
											<h4 class="widget-title">Lối tắt</h4>
											<ul class="naves">

												<li>
													<i class="fa-solid fa-house" style="color: #936fff;"></i>
													<a href="fav-page.html" title="">Trang cá nhân</a>
												</li>
												<li>
													<i class="fa-solid fa-wand-magic-sparkles"
														style="color: #936fff;"></i>
													<a href="newsfeed.html" title="">Bảng tin</a>
												</li>
												<li>
													<i class="fa-solid fa-user-group" style="color: #936fff;"></i>
													<a href="timeline-friends.html" title="">Bạn bè</a>
												</li>
												<li>
													<i class="fa-solid fa-comment" style="color: #936fff;"></i>
													<a href="messages.html" title="">Tin nhắn</a>
												</li>
												<li>
													<i class="fa-solid fa-bell" style="color: #936fff;"></i>
													<a href="notifications.html" title="">Thông báo</a>
												</li>
												<li>
													<i class="fa-solid fa-circle-notch" style="color: #936fff;"></i>
													<a href="landing.html" title="">Đăng xuất</a>
												</li>
											</ul>
										</div><!-- Shortcuts -->

									</aside>
								</div><!-- sidebar -->
								<div class="col-lg-6">
									<div class="central-meta">
										<div class="frnds">
											<ul class="nav nav-tabs">
												<li class="nav-item"><a class="active" href="#frends"
														data-toggle="tab">Mọi người</a> <span>55</span></li>
											</ul>

											<!-- Tab panes -->
											<div class="tab-content">
												<div class="tab-pane active fade show " id="frends">
													<ul class="nearby-contct">
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/friend-avatar9.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">jhon kates</a>
																	</h4>
																	<span>2 bạn chung</span>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">add friend</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly1.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">sophia
																			Gate</a></h4>
																	<span>tv actresses</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">unfriend</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">add friend</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly2.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">sara grey</a>
																	</h4>
																	<span>work at IBM</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">unfriend</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">add friend</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly3.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">Sexy cat</a>
																	</h4>
																	<span>Student</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">unfriend</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">add friend</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly4.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">Sara grey</a>
																	</h4>
																	<span>ftv model</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">unfriend</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">add friend</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly5.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">Amy watson</a>
																	</h4>
																	<span>Study in university</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">unfriend</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">add friend</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly6.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">caty lasbo</a>
																	</h4>
																	<span>work as dancers</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">unfriend</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">add friend</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly2.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">Ema watson</a>
																	</h4>
																	<span>personal business</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">unfriend</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">add friend</a>
																</div>
															</div>
														</li>
													</ul>
													<div class="lodmore"><button
															class="btn-view btn-load-more"></button></div>
												</div>
												<div class="tab-pane fade" id="frends-req">
													<ul class="nearby-contct">
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly5.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">Amy watson</a>
																	</h4>
																	<span>ftv model</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">delete Request</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">Confirm</a>
																</div>
															</div>
														</li>

														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly1.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">sophia
																			Gate</a></h4>
																	<span>ftv model</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">delete Request</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">Confirm</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly6.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">caty lasbo</a>
																	</h4>
																	<span>ftv model</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">delete Request</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">Confirm</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/friend-avatar9.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">jhon kates</a>
																	</h4>
																	<span>ftv model</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">delete Request</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">Confirm</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly2.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">sara grey</a>
																	</h4>
																	<span>ftv model</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">delete Request</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">Confirm</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly4.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">Sara grey</a>
																	</h4>
																	<span>ftv model</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">delete Request</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">Confirm</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/nearly3.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">Sexy cat</a>
																	</h4>
																	<span>ftv model</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">delete Request</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">Confirm</a>
																</div>
															</div>
														</li>
														<li>
															<div class="nearly-pepls">
																<figure>
																	<a href="time-line.html" title=""><img
																			src="../images/resources/friend-avatar9.jpg"
																			alt=""></a>
																</figure>
																<div class="pepl-info">
																	<h4><a href="time-line.html" title="">jhon kates</a>
																	</h4>
																	<span>ftv model</span>
																	<a href="#" title="" class="add-butn more-action"
																		data-ripple="">delete Request</a>
																	<a href="#" title="" class="add-butn"
																		data-ripple="">Confirm</a>
																</div>
															</div>
														</li>
													</ul>
													<button class="btn-view btn-load-more"></button>
												</div>
											</div>
										</div>
									</div>
								</div><!-- centerl meta -->
								<div class="col-lg-3">
									<aside class="sidebar static">
										<div class="widget friend-list stick-widget">
											<h4 class="widget-title">Friends</h4>
											<div id="searchDir"></div>
											<ul id="people-list" class="friendz-list">
												<li>
													<figure>
														<img src="../images/resources/friend-avatar.jpg" alt="">
														<span class="status f-online"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">bucky barnes</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="c6b1afa8b2a3b4b5a9aaa2a3b486a1aba7afaae8a5a9ab">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>
													<figure>
														<img src="../images/resources/friend-avatar2.jpg" alt="">
														<span class="status f-away"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">Sarah Loren</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="82e0e3f0ece7f1c2e5efe3ebeeace1edef">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>
													<figure>
														<img src="../images/resources/friend-avatar3.jpg" alt="">
														<span class="status f-off"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">jason borne</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="6f050e1c00010d2f08020e0603410c0002">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>
													<figure>
														<img src="../images/resources/friend-avatar4.jpg" alt="">
														<span class="status f-off"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">Cameron diaz</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="147e75677b7a76547379757d783a777b79">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>

													<figure>
														<img src="../images/resources/friend-avatar5.jpg" alt="">
														<span class="status f-online"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">daniel warber</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="640e05170b0a06240309050d084a070b09">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>

													<figure>
														<img src="../images/resources/friend-avatar6.jpg" alt="">
														<span class="status f-away"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">andrew</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="d3b9b2a0bcbdb193b4beb2babffdb0bcbe">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>

													<figure>
														<img src="../images/resources/friend-avatar7.jpg" alt="">
														<span class="status f-off"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">amy watson</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="deb4bfadb1b0bc9eb9b3bfb7b2f0bdb1b3">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>

													<figure>
														<img src="../images/resources/friend-avatar5.jpg" alt="">
														<span class="status f-online"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">daniel warber</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="bbd1dac8d4d5d9fbdcd6dad2d795d8d4d6">[email&#160;protected]</a></i>
													</div>
												</li>
												<li>

													<figure>
														<img src="../images/resources/friend-avatar2.jpg" alt="">
														<span class="status f-away"></span>
													</figure>
													<div class="friendz-meta">
														<a href="time-line.html">Sarah Loren</a>
														<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="ff9d9e8d919a8cbf98929e9693d19c9092">[email&#160;protected]</a></i>
													</div>
												</li>
											</ul>
											<div class="chat-box">
												<div class="chat-head">
													<span class="status f-online"></span>
													<h6>Bucky Barnes</h6>
													<div class="more">
														<span><i class="ti-more-alt"></i></span>
														<span class="close-mesage"><i class="ti-close"></i></span>
													</div>
												</div>
												<div class="chat-list">
													<ul>
														<li class="me">
															<div class="chat-thumb"><img
																	src="../images/resources/chatlist1.jpg" alt="">
															</div>
															<div class="notification-event">
																<span class="chat-message-item">
																	Hi James! Please remember to buy the food for
																	tomorrow! I’m gonna be handling the gifts and Jake’s
																	gonna get the drinks
																</span>
																<span class="notification-date"><time
																		datetime="2004-07-24T18:18"
																		class="entry-date updated">Yesterday at
																		8:10pm</time></span>
															</div>
														</li>
														<li class="you">
															<div class="chat-thumb"><img
																	src="../images/resources/chatlist2.jpg" alt="">
															</div>
															<div class="notification-event">
																<span class="chat-message-item">
																	Hi James! Please remember to buy the food for
																	tomorrow! I’m gonna be handling the gifts and Jake’s
																	gonna get the drinks
																</span>
																<span class="notification-date"><time
																		datetime="2004-07-24T18:18"
																		class="entry-date updated">Yesterday at
																		8:10pm</time></span>
															</div>
														</li>
														<li class="me">
															<div class="chat-thumb"><img
																	src="../images/resources/chatlist1.jpg" alt="">
															</div>
															<div class="notification-event">
																<span class="chat-message-item">
																	Hi James! Please remember to buy the food for
																	tomorrow! I’m gonna be handling the gifts and Jake’s
																	gonna get the drinks
																</span>
																<span class="notification-date"><time
																		datetime="2004-07-24T18:18"
																		class="entry-date updated">Yesterday at
																		8:10pm</time></span>
															</div>
														</li>
													</ul>
													<form class="text-box">
														<textarea placeholder="Post enter to post..."></textarea>
														<div class="add-smiles">
															<span title="add icon" class="em em-expressionless"></span>
														</div>
														<div class="smiles-bunch">
															<i class="em em---1"></i>
															<i class="em em-smiley"></i>
															<i class="em em-anguished"></i>
															<i class="em em-laughing"></i>
															<i class="em em-angry"></i>
															<i class="em em-astonished"></i>
															<i class="em em-blush"></i>
															<i class="em em-disappointed"></i>
															<i class="em em-worried"></i>
															<i class="em em-kissing_heart"></i>
															<i class="em em-rage"></i>
															<i class="em em-stuck_out_tongue"></i>
														</div>
														<button type="submit"></button>
													</form>
												</div>
											</div>
										</div><!-- friends list sidebar -->

									</aside>
								</div><!-- sidebar -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<div class="bottombar">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates
								Hub</a></span>
						<i><img src="../images/credit-cards.png" alt=""></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="side-panel">
		<h4 class="panel-title">General Setting</h4>
		<form method="post">
			<div class="setting-row">
				<span>use night mode</span>
				<input type="checkbox" id="nightmode1" />
				<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Notifications</span>
				<input type="checkbox" id="switch22" />
				<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Notification sound</span>
				<input type="checkbox" id="switch33" />
				<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>My profile</span>
				<input type="checkbox" id="switch44" />
				<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Show profile</span>
				<input type="checkbox" id="switch55" />
				<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
			</div>
		</form>
		<h4 class="panel-title">Account Setting</h4>
		<form method="post">
			<div class="setting-row">
				<span>Sub users</span>
				<input type="checkbox" id="switch66" />
				<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>personal account</span>
				<input type="checkbox" id="switch77" />
				<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Business account</span>
				<input type="checkbox" id="switch88" />
				<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Show me online</span>
				<input type="checkbox" id="switch99" />
				<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Delete history</span>
				<input type="checkbox" id="switch101" />
				<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Expose author name</span>
				<input type="checkbox" id="switch111" />
				<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
			</div>
		</form>
	</div><!-- side panel -->

	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="js/main.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>


</html>